---
import { StarIcon } from 'lucide-react';

import { db } from '@/db';
import { cn } from '@/lib/utils';
import { getImageUrl } from '@/lib/s3';

async function getPopularTours() {
	const tours = await db.query.toursTable.findMany({
		columns: {
			name: true,
			slug: true,
			summary: true,
			price: true,
			duration: true,
			ratingsAverage: true,
			difficulty: true
		},
		with: { images: { columns: { imageKey: true }, limit: 1 } },
		orderBy: (records, { desc }) => [desc(records.ratingsAverage)],
		limit: 4
	});

	return tours.map((tour) => ({
		...tour,
		images: tour.images.map((img) => getImageUrl(img.imageKey))
	}));
}

const tours = await getPopularTours();
---

<div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-12">
	{
		tours.map((tour, idx) => (
			<div
				class={cn(
					'group relative overflow-hidden rounded-2xl shadow-lg transition-all duration-300 ease-in-out hover:shadow-2xl',
					idx % 2 === 1 && 'md:translate-y-8'
				)}
			>
				<div class="relative h-64 overflow-hidden">
					<img
						src={tour.images.at(0)}
						alt={tour.name}
						class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-110"
					/>
					<div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent transition-opacity duration-300 group-hover:opacity-80" />

					<div class="absolute inset-x-0 bottom-0 p-6 text-white">
						<h3 class="mb-2 text-2xl font-bold">{tour.name}</h3>
						<p class="mb-4 text-sm opacity-0 transition-opacity duration-300 group-hover:opacity-100">
							{tour.summary}
						</p>

						<div class="flex items-center justify-between">
							<span class="text-2xl font-bold">${(tour.price / 100).toFixed(2)}</span>
							<a
								href={`/tours/${tour.slug}`}
								class="rounded-full bg-white px-4 py-2 text-primary transition-colors duration-300 hover:bg-primary/90 hover:text-white"
							>
								See Details
							</a>
						</div>
					</div>

					<div class="absolute left-4 top-4 rounded-full bg-black px-3 py-1 text-sm font-semibold text-white backdrop-blur-sm">
						{tour.duration} days
					</div>

					<div class="absolute right-4 top-4 flex items-center rounded-full bg-black px-3 py-1 text-sm font-semibold text-white backdrop-blur-sm">
						<StarIcon className="size-4 mr-1 fill-current" />
						<span>{tour.ratingsAverage}</span>
					</div>

					<div class="absolute right-4 top-16 rounded-full bg-black px-3 py-1 text-sm font-semibold capitalize text-white backdrop-blur-sm">
						{tour.difficulty}
					</div>
				</div>
			</div>
		))
	}
</div>
