---
import { CalendarIcon, ClockIcon, MapPinIcon, StarIcon, UsersIcon } from 'lucide-react';

import type { TourDetailWithDescription } from '@/db/types';
import TourPrice from './tour-price.astro';
import { formatDateTime } from '@/lib/utils';

interface Props {
	tour: TourDetailWithDescription;
}

const { tour } = Astro.props as Props;
const nextDate = tour.startDates
	.sort((a, b) => new Date(a).getTime() - new Date(b).getTime())
	.find((date) => new Date(date) >= new Date());
const formattedNextDate = formatDateTime(nextDate);

const guides = [
	{ name: 'Emma Green', role: 'Lead Guide', image: '/placeholder.jpg' },
	{
		name: 'Alex Rivers',
		role: 'Mountain Expert',
		image: '/placeholder.jpg'
	},
	{ name: 'Mike Johnson', role: 'Tour Guide', image: '/placeholder.jpg' }
];
---

<div class="sticky top-8 rounded-lg bg-white shadow-md">
	<div class="space-y-6 p-6">
		<div class="space-y-2">
			<h2 class="text-2xl font-bold text-gray-800">{tour.name}</h2>
			<div class="flex items-center text-gray-600">
				<MapPinIcon className="mr-1 h-4 w-4 text-green-500" />
				<span class="text-sm"> Tour Location here... </span>
			</div>
		</div>

		<TourPrice price={tour.price} discount={tour.discount} />

		<div class="grid grid-cols-3 gap-4 text-center">
			<div class="space-y-1">
				<ClockIcon className="mx-auto h-6 w-6 text-green-500" />
				<span class="block text-sm font-medium">{tour.duration} days</span>
			</div>
			<div class="space-y-1">
				<UsersIcon className="mx-auto h-6 w-6 text-green-500" />
				<span class="block text-sm font-medium">Max {tour.maxGroupSize}</span>
			</div>
			<div class="space-y-1">
				<StarIcon className="mx-auto h-6 w-6 text-yellow-400" />
				<span class="block text-sm font-medium"
					>{tour.ratingsAverage} ({tour.ratingsQty})</span
				>
			</div>
		</div>

		<div class="space-y-2">
			<h3 class="text-lg font-semibold">Next Tour Date</h3>
			<div class="flex items-center rounded-md bg-gray-50 p-3 text-gray-600">
				<CalendarIcon className="mr-2 h-5 w-5 text-green-500" />
				<span class="text-sm font-medium">{formattedNextDate}</span>
			</div>
		</div>

		<div class="space-y-3">
			<h3 class="text-lg font-semibold">Your Guides</h3>
			<div class="flex space-x-4">
				{
					guides.map((guide) => (
						<div class="text-center">
							<img
								src={guide.image}
								alt={guide.name}
								class="mx-auto mb-2 h-16 w-16 rounded-full object-cover"
							/>
							<div class="text-sm font-medium">{guide.name}</div>
							<div class="text-xs text-gray-500">{guide.role}</div>
						</div>
					))
				}
			</div>
		</div>

		<a
			href="#"
			class="mt-4 block rounded-lg bg-primary py-2 text-center font-semibold text-white hover:underline"
		>
			Book Now
		</a>
	</div>
</div>
