---
import TourPrice from '@/components/tours/tour-price.astro';
import { db } from '@/db';
import MainLayout from '@/layouts/main-layout.astro';
import { getImageUrl } from '@/lib/s3';
import { calculateDiscountPrice, formatCurrency } from '@/lib/utils';
import { CalendarIcon, ClockIcon, StarIcon, UsersIcon } from 'lucide-react';
import { TourTabs } from '../../components/tours/tour-tabs';

export const prerender = false;
const { slug } = Astro.params;
if (!slug) return Astro.redirect('/404');

async function getTourBySlug() {
	const tour = await db.query.toursTable.findFirst({
		where: (records, { eq }) => eq(records.slug, slug as string),
		columns: { created: false, modified: false },
		with: {
			images: {
				columns: { imageKey: true }
			},
			startDates: {
				columns: { date: true }
			}
		}
	});

	if (!tour) return null;

	return {
		...tour,
		images: tour.images.map((image) => getImageUrl(image.imageKey)),
		startDates: tour.startDates.map((date) => date.date)
	};
}

const tour = await getTourBySlug();
if (!tour) return Astro.redirect('/404');
console.log('🚀 ~ tour:', tour);
---

<MainLayout>
	<div class="container mx-auto grid grid-cols-1 gap-8 px-4 py-8 lg:grid-cols-3 lg:px-6">
		<div class="lg:col-span-2">
			<div class="overflow-hidden rounded-lg bg-white shadow-md">
				<div class="relative h-96">
					<img
						src={tour.images?.at(0)}
						alt={tour.name}
						class="absolute inset-0 h-full w-full object-cover"
					/>

					<div
						class="via-black-70 absolute inset-0 flex items-end bg-gradient-to-t from-black via-black/10 to-transparent"
					>
						<div class="p-6 text-white">
							<h2 class="font-bold-mb-2 text-2xl">{tour.name}</h2>
							<div class="flex items-center">
								<StarIcon className="mr-1 size-5 text-amber-500" />
								<span class="mr-2 font-semibold">{tour.ratingsAverage}</span>
								<small>({tour.ratingsQty} reviews)</small>
							</div>
						</div>
					</div>
				</div>

				<div class="p-6">
					<TourTabs client:load tour={tour} />
				</div>
			</div>
		</div>

		<div class="lg:col-span-1">
			<div class="rounded-lg bg-white p-6 shadow-md">
				<h3 class="mb-4 text-xl font-bold">Tour Details</h3>
				<div class="mb-4">
					<TourPrice price={tour.price} discount={tour.discount} />
				</div>
				<div class="space-y-3">
					<div class="flex items-center text-gray-600">
						<ClockIcon className="mr-2 size-5 text-primary" />
						<p>{tour.duration} day(s)</p>
					</div>
					<div class="flex items-center text-gray-600">
						<UsersIcon className="mr-2 size-5 text-primary" />
						<p>Max. {tour.maxGroupSize} people</p>
					</div>
				</div>

				<hr class="my-6" />

				<div>
					<h3 class="mb-4 text-xl font-semibold">Next Dates</h3>
					<!-- sort and display the start dates, also, remove dates in the past -->
					<ul class="space-y-2">
						{
							tour.startDates
								.sort((a, b) => new Date(a).getTime() - new Date(b).getTime())
								.filter((date) => new Date(date) >= new Date())
								.map((date) => (
									<li>
										<p class="flex items-center gap-2">
											<CalendarIcon className="mr-2 size-5 text-primary" />
											{new Date(date).toDateString()}
										</p>
									</li>
								))
						}
					</ul>
				</div>

				<div>
					<a
						href="#"
						class="mt-6 block rounded-lg bg-primary py-2.5 text-center font-semibold text-white hover:bg-primary/90"
					>
						Book Now
					</a>
				</div>
			</div>
		</div>
	</div>
</MainLayout>
