---
import Layout from '@/layouts/layout.astro';
import TourDetailCover from '@/components/tours/tour-detail-cover.astro';
import TourOverview from '@/components/tours/tour-overview.astro';
import TourItenerary from '@/components/tours/tour-itenerary.astro';
import QuickFacts from '@/components/tours/quick-facts.astro';
import TourReviews from '@/components/tours/tour-reviews.astro';
import { getImageUrl } from '@/lib/s3';
import { db } from '@/db';
import { MaxWidthContainer } from '@/components/site/max-width-container';

export const prerender = false;
const { slug } = Astro.params;
if (!slug) return Astro.redirect('/404');

async function getTourBySlug() {
	const tour = await db.query.toursTable.findFirst({
		where: (records, { eq }) => eq(records.slug, slug as string),
		columns: { created: false, modified: false },
		with: {
			images: {
				columns: { imageKey: true }
			},
			startDates: {
				columns: { date: true }
			}
		}
	});

	if (!tour) return null;

	return {
		...tour,
		images: tour.images.map((image) => getImageUrl(image.imageKey)),
		startDates: tour.startDates.map((date) => date.date)
	};
}

const tour = await getTourBySlug();
if (!tour) return Astro.redirect('/404');
---

<Layout>
	<MaxWidthContainer className="grid grid-cols-1 gap-8 py-8 lg:grid-cols-3">
		<div class="space-y-6 lg:col-span-2">
			<TourDetailCover tour={tour} />
			<TourOverview tour={tour} />
			<TourItenerary tour={tour} />
			<TourReviews tourId={tour.id} />
		</div>

		<div class="lg:col-span-1">
			<QuickFacts tour={tour} />
		</div>
	</MaxWidthContainer>
</Layout>
